.ava {
  display: inline-block;
  font-size: 0;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.ava[aria-label]::after {
  position: absolute;
  inset: 0;
  content: attr(aria-label);
  display: grid;
  place-items:  center;
  font-size: var(--fs);
  font-weight: 500;
  background-color: var(--bg);
}

.ava-light {
  color: #fff;
}

.ava-dark {
  color: #343a40;
}

.ava-loader {
  cursor: progress;
  background: #ddd;
}
